<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
    <% if flash[:message] %>
      <% flash[:message].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>Sign Out</button>
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Link to Login Page</a>
      <br>
      <a href="<%= new_user_url %>">Link to Sign Up Page</a>
    <% end %>

    <%= yield %>
  </body>
</html>
